/* Intro Section */
#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
  overflow: hidden;
}

#title {
  text-align: center;
  font-size: 3rem; /* Gesamtgröße des Titels */
  font-weight: bold;
  transition: font-size 0.3s ease; /* Übergang für Schriftgrößenänderungen */
}

.line {
  font-size: inherit; /* Vererbt die Schriftgröße aus dem #title */
  font-weight: inherit;
}

.letter {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.letter:hover {
  color: #f39c12; /* Farbe ändert sich beim Hover */
  transform: scale(2); /* Vergrößert den Buchstaben auf das doppelte */
  font-size: 3.5rem; /* Optional: Noch größere Schriftgröße für den Buchstaben beim Hover */
}

/* Animation für den Titel-Fade-In-Effekt */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main Content */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  background: #fff;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px 0;
}

#mapid {
  width: 100%;
  height: 400px;
}
